@use '../auth/style/button.scss';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html , body , #root{
    
    width: 100%;
    background-color: rgb(34, 29, 29);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(176, 176, 176);
    overflow-x: hidden;
    

    
}

a{
    color: rgb(224, 58, 58);
    text-decoration: none;
}