nav{
    width: 25%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    height: 100%;
    position: absolute;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgb(21, 18, 18);
    z-index: 90;
    .top{
        height: 100%;
        width: 100%;
        display: flex;
        gap: 3rem;
        flex-direction: column;
        p{
            font-size: x-large;
            font-weight: 500;
        }
        .user{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            font-size: x-large;
            .option{
                cursor: pointer;
                color: white;
                padding: 1rem;
                border-radius: 1rem;
                    color: white;
                
            }

            .active{
                    cursor: pointer;
                    background-color: rgb(72, 28, 28);
                color: white;
                
                    color: red;
                
            }
            .icons{
                display: none;
            }
            .text{
                
            }
            
        }
    }
    .bot{
        .icons{
            .icon{
                color: white;
            }
            .on{
                color: red;
            }
        }
        .out{
            background-color: rgb(110, 56, 56);
            padding: 1rem;
            border-radius: 1rem;
            font-size: large;
            font-weight: 500;
            cursor: pointer;
            &:active{
                transform: scale(0.9);
            }
        }
    }
    .button{
        color: white;
        background-color: red;
        width: fit-content;
        padding-block: 0.7rem;
        padding-inline: 2rem;
        font-size: large;
        
    }
    p{
        font-weight: bold;
        color: white;
    }
}

@media (max-width:900px) {
    nav{
        position: absolute;
        top: 93%;
        width: 100%;
        height: 8%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        p{
            display: none;
        }
        .top{
            display: flex;
            .user{
                display: flex;
                justify-content: space-around;
                align-items: center;
                .option{
                    display: none;
                }
                
            }
        }
        .bot{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            
            .icons{
                 width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-size: x-large;
            }
            .out{
                    display: none;
                }
        }
    }
}