main{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    .box1{
        width: 50%;
        height: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        border-right: 2px solid white;
        background-color: rgb(26, 26, 26);
        position: relative;
        gap: 2vw;
        i{
            position: absolute;
            font-size: 14vh;
             background: linear-gradient(to right, #FF5904, #D900B8);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            top:2vw;
            left:3vw;
        }   
        img{
            height: 50vh;
        }
        h1{
            font-size: 6vh;
            font-weight: 500;
            span{
                
                background: linear-gradient(to right, #FF5904, #D900B8);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
    .box2{
        width: 50%;
        height: 100%;
        background-color: #152127;
        padding: 3vw;
        position: relative;

        form{
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            gap: 2vw;

             i{
            position: absolute;
            font-size: 14vh;
             background: linear-gradient(to right, #FF5904, #D900B8);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            top:2vw;
            left:3vw;
            display: none;
        }   
            input{
                padding: 1rem;
                width: 90%;
                background-color: transparent;
                border-radius: 1rem;
                border:2px solid #2b4552;
                font-size: x-large;
                outline: none;
                color: white;
            }
            button{
                width: 80%;
                padding: 1rem;
                background-color: rgb(63, 63, 211);
                font-size: x-large;
                color: white;
                border-radius: 3rem;
                outline: none;
                cursor: pointer;
                &:active{
                    scale: .90;
                }
            }
            a{
                width: 80%;
                padding: 1rem;
                background-color: rgb(63, 63, 211);
                font-size: x-large;
                color: white;
                border-radius: 3rem;
                outline: none;
                cursor: pointer;
                text-align: center;
                text-decoration: none;
                &:active{
                    scale: .90;
                }
            }
            .create{
                    border:1px solid rgb(63, 63, 211);
                    background-color: transparent;
                }
        }
        .error-text{
            position: absolute;
            top: 1rem;
            right: 1rem;
            background-color: red;
            padding-inline: 1rem;
            padding-block: 0.6rem;
            color: white;
            font-weight: 500;
            border-radius: 0.5rem;
        }
    }
}

@media (max-width:800px) {
    main{
        .box1{
            display: none;
        }
        .box2{
            width: 100%;
            form{
                gap: 3vh;
                i{
                    display: flex;
                    font-size: 9vh;
                }
            }
        }
    }
}